.container {
    width: 1200px;
}

.nav-tabs {
    text-align: center;
    margin: 50px auto;

}

.tabs-caption {
    display: flex;
}

.tabs-caption button {
    margin: 20px auto;
}

.tabs-content {
    display: none;
}

.tabs-content.active {
    display: block;
}

.search-film {
    margin: 25px auto;
}

.tags-film {
   text-align: center ;
}

.films {
    padding: 0;
    margin: 0 auto -80px auto;
    width: 400px;
}

.films p {
    border: 1px solid;
    padding: 10px;
    margin-bottom: -1px;
}



.btn-load {
    text-align: center;
    margin: 100px 0 20px 0;
}